# {{ ansible_managed }}

{% if openvpn_comp_lzo %}
comp-lzo
{% endif %}
{% if openvpn_daemon %}
daemon
{% endif %}
dev {{ openvpn_dev }}
group {{ openvpn_group }}
ifconfig {{ openvpn_client_ifconfig }}
{% if openvpn_keepalive %}
keepalive {{ openvpn_keepalive }}
{% endif %}
{% if openvpn_nobind %}
nobind
{% endif %}
{% if openvpn_persist_key %}
persist-key
{% endif %}
{% if openvpn_persist_tun %}
persist-tun
{% endif %}
{% if openvpn_ping_timer_rem %}
ping-timer-rem
{% endif %}
proto {{ openvpn_proto }}
secret {{ openvpn_secret_file }}
remote {{ openvpn_remote_host }} {{ openvpn_remote_port }} {{ openvpn_remote_proto }}
user {{ openvpn_user }}
