tls-client
dev {{ openvpn_dev }}
;dev-node MyTap
proto {{ openvpn_proto }}
remote {{ openvpn_remote_host }} {{ openvpn_remote_port }}
resolv-retry infinite
nobind
user {{ openvpn_user }}
group {{ openvpn_group }}
persist-key
persist-tun
ns-cert-type server
comp-lzo
verb 3

<ca>
</ca>
<cert>
</cert>
<key>
</key>
